#a_candm, #candm
{
	color:	#FFCCCC;
}
#a_gaming, #gaming
{
	color:	#CCFFCC;
}
#a_mgmt
{
	color:	#CCCCFF;
}

.tab-pane
{
	padding-top:			1em;
}
.tab-pane table
{
	margin-bottom:			3em;
}
.tab-pane table.stretch > tbody > tr > td
{
	width:				50%;
}
.tab-pane table span.glyphicon
{
	font-size:	2.5em;
	margin-right:	0.75em;
}
.tab-pane table div
{
	padding-top:			5px;
	padding-bottom:			5px;
}
.tab-pane table img
{
	width:				32px;
	height:				32px;
	margin-right:			0.5em;
}
.tab-pane table a
{
	font-weight:			bold;
	font-size:			1.25em;
	text-decoration:		none;
	color:				inherit;
}
.tab-pane table a:hover
{
	color:				#FFFFFF;
}
.top
{
	border-left:			5px #888888 solid;
	border-top-left-radius:		8px;
	padding-left:			5px;
}
.mid
{
	border-left:			5px #888888 solid;
	padding-left:			5px;
}
.bottom
{
	border-left:			5px #888888 solid;
	border-bottom-left-radius:	8px;
	padding-left:			5px;
}
