h4
{
	color:		#AAAAFF;
}
blockquote
{
	border-radius:	8px;
}
.form-control
{
        background-color:       #000000;
        border-color:           #555555;
        color:                  #BBCCFF;
}
.input-group-addon
{
        background-color:       #252525;
        border-color:           #555555;
        color:                  #999999;
}

/* POPOVERS */
.popover, .popover-title
{
        background-color:       #151515;
        border-color:           #484848;
        color:                  #BBBBFF;
}
.popover .arrow
{
        display:        none;
}
.popover-title
{
        font-style:     italic;
        font-weight:    bold;
}
